.control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

select {
  padding: 0.5em 1em;
  margin-left: 1em;
  font-size: 1em;
}

.Holder {
  background-color: #3399ff;
  padding: 0.2em 1em;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  box-shadow: 20px black;
}

.Holder label {
  font-weight: bold;
}
